In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\fresh\\Desktop\\MY_COURSES\\3_TRESTLE_ACADEMY\\Data_Engineering_Track\\trestle_academy_dataset.csv')

In [4]:
df

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,S0001,Student_1,30,Female,Data Science,2023-03-22,97,No
1,S0002,Student_2,33,Female,Data Science,2023-01-29,64,No
2,S0003,Student_3,39,Female,Data Engineering,2023-12-24,97,No
3,S0004,Student_4,18,Male,Data Engineering,2023-01-09,89,Yes
4,S0005,Student_5,21,Female,Cloud Computing,2023-05-26,65,No
...,...,...,...,...,...,...,...,...
995,S0996,Student_996,25,Female,Data Engineering,2023-05-25,52,Yes
996,S0997,Student_997,40,Male,AI Fundamentals,2023-08-15,90,No
997,S0998,Student_998,20,Female,Cloud Computing,2023-04-22,100,No
998,S0999,Student_999,40,Female,Cloud Computing,2023-07-04,67,No
999,S1000,Student_1000,34,Male,AI Fundamentals,2023-09-09,90,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       1000 non-null   object
 1   name             1000 non-null   object
 2   age              1000 non-null   int64
 3   gender           1000 non-null   object
 4   course           1000 non-null   object
 5   enrollment_date  1000 non-null   object
 6   final_grade      1000 non-null   int64
 7   is_intern        1000 non-null   object
dtypes: int64(2), object(6)
memory usage: 62.6+ KB

In [6]:
df.shape

(1000, 8)

In [7]:
df.isnull().sum()

student_id         0
name               0
age                0
gender             0
course             0
enrollment_date    0
final_grade        0
is_intern          0
dtype: int64

In [8]:
df.describe()

               age  final_grade
count  1000.000000  1000.000000
mean     30.731000    75.766000
std       7.857887    15.195004
min      18.000000    50.000000
25%      24.000000    62.000000
50%      31.000000    76.000000
75%      37.000000    89.000000
max      44.000000   100.000000

In [9]:
df['enrollment_date']

0      2023-03-22
1      2023-01-29
2      2023-12-24
3      2023-01-09
4      2023-05-26
          ...
995    2023-05-25
996    2023-08-15
997    2023-04-22
998    2023-07-04
999    2023-09-09
Name: enrollment_date, Length: 1000, dtype: object

In [10]:
df['enrollment_date'].dtype

dtype('O')

In [11]:
df['enrollment_date']

0      2023-03-22
1      2023-01-29
2      2023-12-24
3      2023-01-09
4      2023-05-26
          ...
995    2023-05-25
996    2023-08-15
997    2023-04-22
998    2023-07-04
999    2023-09-09
Name: enrollment_date, Length: 1000, dtype: object

In [12]:
df.columns

Index(['student_id', 'name', 'age', 'gender', 'course', 'enrollment_date',
       'final_grade', 'is_intern'],
      dtype='object')